/* stylelint-disable selector-class-pattern */
.filmContaminationPopupValue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 48px;
  border-top: 0.6px solid #90909a;
  border-bottom: 0.6px solid #90909a;
}

.filmContaminationPopupValueIcon {
  width: 15px;
  height: 15px;
  margin-left: 4px;
  border-radius: 50%;
}

.filmContaminationPopupValueText {
  display: flex;
  align-items: center;
  height: 18px;
  margin-left: 8px;
  color: white;
}
