/* stylelint-disable selector-class-pattern */
.gasesInfoTable {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  width: 140px;
  height: 170px;
  color: #c7c5d0;
}

.gasesVariant {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 28px;
}

.gasesInfoIcon {
  width: 24px;
  height: 24px;
}

.gasesInfoBorders {
  margin-left: 10px;
}
